@import 'src/assets/style/utils';

.converter-screen {
  &__content {
    padding: 4.4rem 0 11rem;

    > * {
      &:not(:last-child) {
        margin-bottom: 10rem;

        &:first-child {
          margin-bottom: 5.4rem;
        }
      }
    }
  }
}